email_domains = ["tfgco.com","topfreegames.com"]
upstreams = ["http://127.0.0.1:3000/"]
http_address = "127.0.0.1:4180"
redirect_url = "{{OAUTH2_PROXY_REDIRECT_URL}}"
pass_host_header = true
client_id = "{{OAUTH2_PROXY_CLIENT_ID}}"
client_secret = "{{OAUTH2_PROXY_CLIENT_SECRET}}"
cookie_secret = "{{OAUTH2_PROXY_COOKIE_SECRET}}"
cookie_domain = "{{OAUTH2_PROXY_COOKIE_DOMAIN}}"
cookie_https_only = false
cookie_httponly = true
cookie_name = "_oauth2_proxy"
cookie_expire = "168h"
cookie_secure = false
cookie_refresh = "0h"
